:global(.menuMobile .p-button) {
    background: transparent;
    border: 0;
}

:global(.menuMobile .p-button:enabled:hover), :global(.menuMobile .p-button:focus) {
    background: transparent !important;
    box-shadow: none !important;
}

.menuDark {
    color: white !important;
}

.menuLight, .menuLight:hover {
    color: #6c757d !important;
}
