.p-tabmenu .p-tabmenu-nav {
    background: #ffffff;
    border: 1px solid #dee2e6 !important;
    border-width: 0 0 2px 0 !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    margin-right: 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: solid #dee2e6;
    border-width: 0 0 2px 0 !important;
    border-color: transparent transparent #dee2e6 transparent !important;
    background: #ffffff;
    color: #6c757d !important;
    padding: 1.25rem;
    font-weight: 700;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
    height: calc(100% + 2px);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-color: #149eca !important;
    color: #149eca;
}

.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.p-button {
    color: #ffffff;
    background: #149eca;
    border: 1px solid #149eca;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 1.5rem;
}

.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
    background: #4F46E5 !important;
    color: #ffffff;
    border-color: #4F46E5 !important;
}

.p-button.p-button-outlined:enabled:hover,
.p-button.p-button-outlined:not(button):not(a):not(.p-disabled):hover {
    background: rgba(99, 102, 241, 0.04);
    color: #149eca;
    border: 1px solid;
}

.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 3rem;
}

.p-button.p-button-icon-only {
    width: 3rem;
    padding: 0.75rem 0;
}

.p-button.p-button-rounded {
    border-radius: 2rem;
}

.p-button.p-button-outlined {
    background-color: transparent !important;
    color: #149eca;
    border: 1px solid;
}

.p-button:enabled:active,
.p-button:not(button):not(a):not(.p-disabled):active {
    background: #4338CA;
    color: #ffffff;
    border-color: #4338CA;
}

.p-button:disabled {
    color: #1C1B1F;
    border: 0;
    background: #E6E1E5 !important;
}

.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
    background: #4F46E5;
    color: #ffffff;
    border-color: #4F46E5;
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #b1b3f8, 0 1px 2px 0 black;
}

.darkTheme * {
    background-color: #23272f !important;
    color: white !important;
}

.darkTheme .p-card.p-component {
    box-shadow: 0 0 0 0.5px rgba(180, 180, 180, 0.2), 0 4px 8px rgba(209, 209, 209, 0.12);
}

.darkTheme .p-card.p-component:hover {
    box-shadow: 0 0 0 1px rgba(180, 180, 180, 0.2), 0 8px 16px rgba(209, 209, 209, 0.12);
}

.lightTheme > * {
    background-color: white;
    color: #23272f;
}

.p-card.p-component {
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.12);
    position: relative;
}

.p-card.p-component:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.24);
}

.p-card .p-card-title {
    font-size: 1.2rem;
}

.p-image-preview-container {
    position: static;
}

.p-image-preview-container svg {
    background: transparent !important;
}

.p-image-preview-container:hover > .p-image-preview-indicator {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.p-image-toolbar {
    color: #6366F1;
    padding: 0;
}

.p-image-preview-enter-done {
    padding-top: 0.5rem;
}

.p-inputtext.p-component {
    border: 1px solid #149eca;
    padding: 0.5rem 0.5rem;
    font-weight: normal;
}

.p-inputtext:enabled:focus, .p-inputtext:enabled:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 2px #149eca;
    border: 0;
}

.p-float-label label {
    margin-top: -0.7rem;
}

.p-float-label input:focus~label,
.p-float-label input:-webkit-autofill~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label,
.p-float-label .p-tooltip-target-wrapper~label {
    top: 0rem;
    background-color: white;
}

.bg-slate-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity)) !important;
}
